.App {
  font-family: sans-serif;
  text-align: center;
}
.title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: bold;
  color: rgb(20, 211, 122);
}
